.box {
    display: flex;
    justify-content: center;
    align-items: center;
  }

#timer {
  max-width: 50%;
  margin-left: 50px;
  margin-right: 50px;
  min-width: 700px;
}

table {
  font-size: 1.8em;
}